/* invitation.css */

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #080710;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
  }
  
  form label {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="radio"],
  form input[type="checkbox"],
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  form input[type="radio"],
  form input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
  }
  
  form h2 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  form .response {
    margin-bottom: 15px;
  }
  
  form input[type="submit"] {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffffa8;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #00000000;
    color: #ff0000;
  }
  